.fileTitle{
    background:#434343;
    color:#f3f3f3;
    font-size:13.6px;
    padding:6.8px 0;
}

.color-theme-1 .fileTitle{
    background:#38210a;
    color:#f3eacb;
}

.color-theme-2 .fileTitle{
    background:#0d0f14;
    color:#9dbed8;
}

.font-size-0 .fileTitle{
    font-size:10.2px;
    padding:5.1px 0;
}

.font-size-1 .fileTitle{
    font-size:11.9px;
    padding:6.95px 0;
}

.font-size-3 .fileTitle{
    font-size:18.7px;
    padding:9.35px 0;
}

.font-size-4 .fileTitle{
    font-size:34px;
    padding:17px 0;
}

.terminal{
    background:#434343 !important;
    color:#f3f3f3 !important;
}

.color-theme-1 .terminal{
    background:#38210a !important;
    color:#f3eacb !important;
}

.color-theme-2 .terminal{
    background-color:#0d0f14 !important;
    color:#9dbed8 !important;
}

.fileTitle{
    text-align:center;
    margin-bottom:0;
    font-weight:bold;
    font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

.terminal{
    font-weight:bold !important;
}

.highlightDefinition{
    background-color:#f2ba00;
}

.color-theme-1 .highlightDefinition{
    background-color:#f2ba00;
}

.color-theme-2 .highlightDefinition{
    background-color:#001882;
}

.ebook_only{
    display:none !important;
}

.web_light_only{
    display:block !important;
}

.web_inline_light_only{
    display:inline !important;
}

.web_dark_only{
    display:none !important;
}

.web_inline_dark_only{
    display:none !important;
}

.color-theme-2 .web_light_only{
    display:none !important;
}

.color-theme-2 .web_dark_only{
    display:block !important;
}

.color-theme-2 .web_inline_light_only{
    display:none !important;
}

.color-theme-2 .web_inline_dark_only{
    display:inline !important;
}
