.fileTitle{
    background:#434343;
    color:#f3f3f3;
    font-size:13.6px;
    padding:6.8px 0;
}

.color-theme-1 .fileTitle{
    background:#38210a;
    color:#f3eacb;
}

.color-theme-2 .fileTitle{
    background:#0d0f14;
    color:#9dbed8;
}

.font-size-0 .fileTitle{
    font-size:10.2px;
    padding:5.1px 0;
}

.font-size-1 .fileTitle{
    font-size:11.9px;
    padding:6.95px 0;
}

.font-size-3 .fileTitle{
    font-size:18.7px;
    padding:9.35px 0;
}

.font-size-4 .fileTitle{
    font-size:34px;
    padding:17px 0;
}

.terminal{
    background:#434343 !important;
    color:#f3f3f3 !important;
}

.color-theme-1 .terminal{
    background:#38210a !important;
    color:#f3eacb !important;
}

.color-theme-2 .terminal{
    background-color:#0d0f14 !important;
    color:#9dbed8 !important;
}

.fileTitle{
    text-align:center;
    margin-bottom:0;
    font-weight:bold;
    font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

.terminal{
    font-weight:bold !important;
}

.highlightDefinition{
    background-color:#f2ba00;
}

.color-theme-1 .highlightDefinition{
    background-color:#f2ba00;
}

.color-theme-2 .highlightDefinition{
    background-color:#001882;
}

/********* IMAGES **********************/

.kdoc{
    width:725px;
    height:355px;
    margin:0 auto;
    background:transparent url(../images/kdoc.png);
}

.kdoc img{
    display:none;
}

.color-theme-2 .kdoc{
    background:transparent url(../images/kdoc_night.png)
}

.package_folders{
    width:458px;
    height:567px;
    margin:0 auto;
    background:transparent url(../images/package_folders.png);
}

.package_folders img{
    display:none;
}

.color-theme-2 .package_folders{
    background:transparent url(../images/package_folders_night.png)
}
